@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

.swiper-scrollbar {
  max-width: 400px !important;
  margin: 0 auto !important;
  position: relative !important;
  top: 30px !important;
  margin-bottom: 50px !important;
}

.swiper-scrollbar-drag {
  background-color: #49af86 !important;
}
